/* -------------------- Resets --------------------- */
body, form, fieldset, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;
    }
img {
    border:0; /* kills Gecko bug when img's are placed inside links */
    vertical-align:bottom; /* set vertical align to bottom for IE */
    }

/* ------------------- Defaults ------------------- */
html {
    height:100%; 
    overflow:auto; /* triggers 100% height in Opera 9.5 */
    overflow-y:scroll; /* creates a horizontal scrollbar, for a more consistent look & feel */
    }
body {
    height:100%; /* helps make height 100% */
    font-family: 'Roboto Mono', monospace;
    /* 100% = 16px, 93.75% = 15px, 87.5% = 14px, 81.25% = 13px, 75% = 12px - font-size in % prevents IE's resize bug */
    /* background:#CFCDCD; */
    background: linear-gradient(to bottom, rgb(45, 46, 47) 0%,rgba(0, 0, 0, 0) 100%);

    
    color: #37302C;
    }





/* -------------------- Forms ---------------------- */
fieldset {
    border:none;
    }
form :focus {
    outline:0; /* removes Safari's blue border */
    }  
input, select, textarea {
    font-size:1em;
    font-family: 'Ubuntu', sans-serif;

    }
label {
    vertical-align:middle;
    font-family: 'Ubuntu', sans-serif;
    }
input {
    vertical-align:middle;
    }
    textarea { 
    overflow:auto; /* removes scrollbar from IE when none is needed */
    }


    /* ------------------ Typography ------------------- */
h1, h2, h3, h4, h5, h6, p {
    margin:0 0 1em;
    }
    p, ul, ol {
    font-size:1em;
    }
    ul {
    margin:0 0 1em 25px;
    list-style:none;
    }
    h1 {font-size:1.6em;}
    h2 {font-size:1.5em;}
    h3 {font-size:1.4em;}
    h4 {font-size:1.3em;}
    h5 {font-size:1.2em;}
    h6 {font-size:1.1em;}


    /* ------------------ Head ------------------- */
    
    header {
        font-family: 'Syne Mono', monospace;
        color: white;
    }

    h1 {
        text-transform: uppercase;
        font-size: 2.5em;
        text-align: center;
        margin: 1rem;
    }

    header p {
        text-align: center;
        width: 75%;
        margin: 20px auto;
        font-size: 1.5em;

    }

    /* ------------------ Console ------------------- */

    .console {
        margin: auto;
        /* background: radial-gradient(circle, rgba(58,95,180,1) 0%, rgba(29,237,253,1) 50%, rgba(69,171,252,1) 100%); */
        /* background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); */
        /* background:#13036dd0; */
        background:#fdfdfdad;
        padding: 20px;
        width: fit-content;
        font-size: 20px;
        color: rgb(19, 1, 1);
        border: solid black 2px;
    }

    .console label {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #description {
        width: 100%;
        margin: 15px 0;
    }
    .responsable {
        /* flex-grow: 4; */
    }


    .label {
        display: inline-block;
        width: 190px;
        margin: 15px 0;
        /* text-align: end; */
    }

    .buttonConsole {
        text-align: center;
        padding-top: 30px;
    }

    .buttonConsole button {
        color: rgba(255, 255, 255, 0.781);
        background-color: rgb(12, 15, 161);
        font-size: 1.2em;
        text-transform: uppercase;
        font-family: 'Roboto Mono', monospace;
        transition: all 0.5s;
    }

    .buttonConsole button:hover {
        background-color: rgb(161, 243, 10);
        color: rgba(3, 0, 0, 0.781);
    }
    

    /* ------------------ Cards ------------------- */




.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    grid-gap: 1rem;
}


.card {
    margin: 20px;
    background-color: #000000c4;
    color: white;
    transition: all 0.5s;
    /* border: solid 8px; */
}

.card:hover {
    /* border: rgb(20, 9, 180) solid 8px; */
    box-shadow:         3px 3px 5px 5px rgba(40, 41, 39, 0.849);
}


.type-c {
    text-transform: uppercase;
    text-align: center;
}

.dom {
    font-size: 12px;
}

.details {
    display: flex;
    justify-content: space-around;
}

.details p {
    text-align: center;
    background-color: rgb(230, 223, 230);
    color: black;
    padding: 10px;
    text-transform: uppercase;
}

.card p {
    margin: 15px;
}











