/* -------------------- Resets --------------------- */
body, form, fieldset, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;
    }
    img {
    border:0; /* kills Gecko bug when img's are placed inside links */
    vertical-align:bottom; /* set vertical align to bottom for IE */
    }

/* ------------------- Defaults ------------------- */
html {
    height:100%; 
    overflow:auto; /* triggers 100% height in Opera 9.5 */
    overflow-y:scroll; /* creates a horizontal scrollbar, for a more consistent look & feel */
    }
    body {
    height:100%; /* helps make height 100% */
    font:100%/1.5 Arial, Helvetica, sans-serif; /* 100% = 16px, 93.75% = 15px, 87.5% = 14px, 81.25% = 13px, 75% = 12px - font-size in % prevents IE's resize bug */
    background:#FDFDFD;
    color:#333;
    }





/* -------------------- Forms ---------------------- */
fieldset {
    border:none;
    }
    form :focus {
    outline:0; /* removes Safari's blue border */
    }  
    input, select, textarea {
    font-size:1em;
    font-family: 'Ubuntu', sans-serif;

    }
    label {
    cursor:pointer;
    vertical-align:middle;
    font-family: 'Ubuntu', sans-serif;
    }
    input {
    vertical-align:middle;
    }
    textarea { 
    overflow:auto; /* removes scrollbar from IE when none is needed */
    }


    /* ------------------ Typography ------------------- */
h1, h2, h3, h4, h5, h6, p {
    margin:0 0 1em;
    }
    p, ul, ol {
    font-size:1em;
    }
    ul {
    margin:0 0 1em 25px;
    list-style:none;
    }
    h1 {font-size:1.6em;}
    h2 {font-size:1.5em;}
    h3 {font-size:1.4em;}
    h4 {font-size:1.3em;}
    h5 {font-size:1.2em;}
    h6 {font-size:1.1em;}


    /* ------------------ Head ------------------- */
    h1 {
        font-family: 'Roboto Slab', serif;
    }

    /* ------------------ Console ------------------- */

    .console {
        margin: auto;
        max-width: 95vh;
        background-color: aqua;
        padding: 30px;
    }

    .description {
        /* flex-grow: 4; */
    }
    .responsable {
        /* flex-grow: 4; */
    }


    .label {
        display: inline-block;
        width: 160px;
        margin: 10px;
        /* text-align: end; */
    }

    h1 {
        text-align: center;
        margin: 1rem;
    }


    /* ------------------ Cards ------------------- */




.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    grid-gap: 1rem;
}


.card {
    margin: 20px;
    background-color: yellow;
}

.dom {
    font-size: 12px;
}

.details {
    display: flex;
    justify-content: space-around;
    height: 55px;
}

.card p {
    margin: 15px 15px 0 20px;
}











